<tr class="totals customdiscount excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: custom_amount_lb">
    <td class="amount">
        <span class="price" data-bind="text: getCustomDiscount(), attr: {'data-th': custom_amount}"></span>
    </td>
    </th>
</tr>

<!--<tr class="totals sub">-->
<!--    <th data-bind="i18n: title" class="mark" scope="row">Subtotal</th>-->
<!--    <td class="amount">-->
<!--        <span class="price" data-bind="text: getValue(), attr: {'data-th': title}" data-th="Subtotal">₫418</span>-->
<!--    </td>-->
<!--</tr>-->
